extends base.pug

block contents
    div.p-8
        h1.text-4xl.font-bold.text-center.mt-8 #{response}
        div.flex.flex-col.mt-12.items-center.space-y-2
        - if(result)
            div.flex.flex-col.mt-12.items-center.space-y-2
                img.logo(src="/public/images/signin_success.png"  display:block; margin:auto;)
                a.text-sm.text-gray-600(href="/api/logout") logout
        - else 
            div.flex.flex-col.mt-12.items-center.space-y-2
                img.logo(src="/public/images/signin_err.png"  display:block; margin:auto;)
                a.text-sm.text-gray-600(href="/api/signin") go to login page